*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    max-width: 80%;
    margin: auto;
    padding: 34px;
}

.container h3, h1, p{
    text-align: center;
    font-family: 'Archivo Black';
}

h1{
    font-size: 35px;
}

h3, p{
    font-size: 20px;
}

p{
    color: green;
    font-size: 17px;
}

input, textarea{
    font-size: 15px;
    width: 80%;
    margin: 0.5px 0px;
    padding: 8px;
    border: 2px solid indigo;
    border-radius: 6px;
    outline: none;
    margin: auto;
    font-family: 'Adamina'
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    color: rgb(92, 253, 5);
    background-color: rgb(8, 94, 199);
    padding: 8px 12px;
    font-size: 15px;
    border: 1.5px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.8;
}